---
const { leftSrc, rightSrc, alt } = Astro.props;
---
<div class="container">
    <div class="image-row">
        <div class="image-container">
            <img src={leftSrc} alt={alt} />
        </div>
        <div class="image-container">
            <img src={rightSrc} alt={alt} />
        </div>
    </div>
    <p class="image-alt">{alt}</p>
    
</div>
<style>
.container {
    margin: 0 auto;
    max-width: 100%;
    text-align: center !important;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 2px; /* This creates moderate spacing between the images */
}

.image-container {
    flex: 1;
    max-width: calc(50% - 5px); /* Subtracting half of the gap to ensure proper sizing */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.image-alt {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    font-style: italic;
    text-align: center !important;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .image-row {
        flex-direction: column;
    }

    .image-container {
        max-width: 100%;
        /* margin-bottom: 20px; */
    }
}
</style>